/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-group {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 1;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.4rem;
}

h2 {
  font-size: 7.2rem;
  line-height: 8.4rem;
}

h3 {
  font-size: 4rem;
  line-height: 5rem;
}

h4 {
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h5 {
  font-size: 3.2rem;
  line-height: 4.2rem;
}

h6 {
  font-size: 2.2rem;
  line-height: 3rem;
}

.heading-2 {
  font-size: 7.2rem;
  line-height: 8.4rem;
}

.heading-3 {
  font-size: 4rem;
  line-height: 5rem;
}

.heading-4 {
  font-size: 3.6rem;
  line-height: 4.6rem;
}

.heading-5 {
  font-size: 3.2rem;
  line-height: 4.2rem;
}

.heading-6 {
  font-size: 2.2rem;
  line-height: 3rem;
}

.heading--24 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

.heading--48 {
  font-size: 4.8rem;
  line-height: 5rem;
}

.desc--16 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.desc--20 {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.desc--32 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 600;
}

.custom-btns {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.custom-btns--vertical {
  flex-direction: column;
}

.custom-btn {
  font-family: "Gill-Sans", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  min-width: 14.2rem;
  height: auto;
  padding: 1.5rem 2.5rem;
  color: #fff;
  background: #000;
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.custom-btn:hover {
  opacity: 0.8;
}

.custom-btn svg {
  width: auto;
  height: 1.6rem;
}

.custom-btn--white {
  background: #fff;
  color: #000;
}

.custom-btn--standard {
  background: #d4aea7;
  color: #fff;
  width: 100%;
  max-width: 30rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  font-weight: 700;
  padding: 1.9rem 2.5rem;
}

.custom-btn--product-cart-btn {
  background: #a9aca9;
  color: #fff;
  min-width: 100%;
  width: 100%;
}

.custom-btn--product {
  background: #000;
  color: #fff;
  border: 0.2rem solid #fff;
}

.custom-btn--white svg path {
  fill: #000;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #015fff;
  font-weight: 600;
  width: auto;
}

.link-btn svg {
  width: auto;
  height: 1.6rem;
}

.link-btn svg path {
  fill: #015fff;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* 

font-family: "Gill-Sans", sans-serif;
font-family: "Inter", sans-serif;
font-family: "Helvetica-Neue", sans-serif;

*/

/* Default CSS Code */

body {
  font-family: "Gill-Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #000;
  background: #fff;
}

/* Reuse CSS Code */

.section-heading {
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-heading p {
  color: #808080;
  margin-top: 2rem;
}

/* Reuse CSS Code */

/* Header Area */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 5rem -0.5rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5rem -0.5rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5rem -0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.header--is-sticky {
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: #000;
  height: 4rem;
}

.top-header__contact {
  font-family: "Gill-Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.top-header__links li a {
  font-family: "Gill-Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.top-header__contact:hover {
  text-decoration: underline;
}

.top-header__links li a:hover {
  color: #e3d5ca;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.top-header__login {
  text-decoration: underline;
}

.top-header__links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.top-header__contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-header__contact span {
  width: 2.2rem;
  height: 2.2rem;
  display: block;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.top-header__contact span img {
  object-fit: contain;
}

.main-header-area {
  position: relative;
  background: #fcfbf8;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.main-header-area--submenu {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.main-header-area--submenu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: hsla(0, 0%, 48%, 0.6);
  z-index: 9999999;
}

.header--is-sticky .main-header-area {
  background: hsla(0, 0%, 100%, 0.7);
  -webkit-backdrop-filter: blur(2rem) saturate(180%);
  backdrop-filter: blur(2rem) saturate(180%);
}

.header--not-blur .main-header-area {
  background: #fcfbf8;
  backdrop-filter: blur(0rem) saturate(0%);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__left,
.main-header__links {
  display: flex;
  align-items: center;
  gap: 0;
}

.main-header__left {
  gap: 6rem;
}

.main-header__links > li > a,
.accordion__question h3,
.basic-accordion__item > a {
  color: #424242;
  font-family: "Gill-Sans", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.5rem;
  width: auto;
  height: 6.2rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  padding: 0 1.7rem;
}

.accordion__question h3,
.basic-accordion__item > a {
  height: auto;
  padding: 0;
  font-weight: 700;
}

.main-header__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main-header__right button {
  width: 3rem;
  height: auto;
}

.cart-btn {
  width: 4rem !important;
  height: auto !important;
}

.main-header__right button img {
  object-fit: contain;
  transition: transform 0.15s ease;
  -webkit-transition: transform 0.15s ease;
  -moz-transition: transform 0.15s ease;
  -ms-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
}

.main-header__right button:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.nav-logo {
  width: 8.3rem;
  height: 5rem;
}

.nav-logo img {
  object-fit: contain;
}

.target {
  position: absolute;
  top: 0 !important;
  height: 6.2rem !important;
  border-bottom: 0.3rem solid #000;
  z-index: 10;
  transform: translateX(-6rem);
  -webkit-transform: translateX(-6rem);
  -moz-transform: translateX(-6rem);
  -ms-transform: translateX(-6rem);
  -o-transform: translateX(-6rem);
}

.header--is-sticky .target {
  top: 0 !important;
  transition: all 0 ease-in-out;
  -webkit-transition: all 0 ease-in-out;
  -moz-transition: all 0 ease-in-out;
  -ms-transition: all 0 ease-in-out;
  -o-transition: all 0 ease-in-out;
}

.main-header__links a,
.target {
  transition: all 0.35s ease-in-out;
}

.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header--is-sticky .search-overlay {
  top: 0;
  height: 100vh;
}

.search-overlay--show {
  opacity: 1;
  visibility: visible;
}

.search-wrapper {
  background: #fff;
  padding: 0.6rem 0;
}

.search-box {
  max-width: 60rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-form {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.search-submit-btn {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.close-search-btn {
  width: 2.4rem;
  height: 2.4rem;
}

/* .search-form__label {
  position: absolute;
  left: 1.5rem;
  font-size: 1.8rem;
  top: 1.1rem;
  z-index: 1;
  pointer-events: none;
  transition: top 0.2s ease, font-size 0.2s ease;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  -moz-transition: top 0.2s ease, font-size 0.2s ease;
  -ms-transition: top 0.2s ease, font-size 0.2s ease;
  -o-transition: top 0.2s ease, font-size 0.2s ease;
}

.search-form .input-style:focus {
  border: .2rem solid #000;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.search-form .input-style:focus ~ .search-form__label {
  color: green;
  top: -0.2rem;
  font-size: 1.4rem;
} */

.submenu-area {
  position: absolute;
  top: 6.2rem;
  left: 0;
  width: 100%;
  background: #fbfaf7;
  padding: 4rem 0;
}

.main-header__links-submenu .submenu-area {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s linear 0.02s, visibility 0.05s ease-out, z-index 0.05s;
  -webkit-transition: opacity 0s linear 0.02s, visibility 0.05s ease-out,
    z-index 0.05s;
  -moz-transition: opacity 0s linear 0.02s, visibility 0.05s ease-out,
    z-index 0.05s;
  -ms-transition: opacity 0s linear 0.02s, visibility 0.05s ease-out,
    z-index 0.05s;
  -o-transition: opacity 0s linear 0.02s, visibility 0.05s ease-out,
    z-index 0.05s;
}

.main-header__links-submenu:hover .submenu-area {
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}

.submenu {
  display: flex;
  padding-left: 14.5rem;
}

.submenu__items-area {
  flex: 1;
}

.submenu__items-area p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
}

.submenu__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.submenu__items a {
  font-size: 2rem;
  line-height: 2.8rem;
}

.navbar-toggler {
  display: none;
  position: absolute;
  top: 1.7rem;
  left: 0;
  width: 2.3rem;
  height: 1.6rem;
  background: transparent;
  z-index: 999;
  background: transparent;
  border-radius: 4.5rem;
  -webkit-border-radius: 4.5rem;
  -moz-border-radius: 4.5rem;
  -ms-border-radius: 4.5rem;
  -o-border-radius: 4.5rem;
}

.navbar-toggler .toggler-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.toggler-btn .bar {
  width: 100%;
  display: block;
  height: 0.2rem;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggler-btn .bar:nth-child(3) {
  margin-bottom: 0;
}

.navbar-toggler.change .toggler-btn .bar1 {
  background: #000;
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  -moz-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  -ms-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  -o-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

.navbar-toggler.change .toggler-btn .bar2 {
  opacity: 0;
}

.navbar-toggler.change .toggler-btn .bar3 {
  background: #000;
  transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  -webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  -moz-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  -ms-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  -o-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}

/* Header Area */

/* Main Content */
main {
  margin-top: 10.2rem;
}
/* Main Content */

/* Hero Area */
.hero-area {
  position: relative;
  width: 100%;
  height: calc(100vh - 10.2rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../img/hero.jpg");
  display: flex;
  align-items: flex-end;
  padding-bottom: 14.5rem;
}

.hero-logo {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hero-logo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 63rem;
  width: 100%;
}

.hero__content h1,
.hero__content h3,
.hero__content p {
  font-family: "Gill-Sans", sans-serif;
  color: #fff;
}

.hero__content h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__content h3 {
  font-weight: 400;
}

.hero__content p {
  margin-top: 1.5rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
}

.hero__content .custom-btns {
  margin-top: 3rem;
}

.hero .custom-btns {
  gap: 5rem;
}

.hero .custom-btn {
  min-width: 19rem;
}

.custom-btn--behandelingen {
  background: #212121;
}

.custom-btn--webshop {
  background: #424242;
}

/* Hero Area */

/* Process Area */

.process-area {
  padding: 8rem 0;
}

.process {
  display: flex;
  align-items: center;
  padding-right: 12rem;
  height: 109.2rem;
}

.process__items {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex: 1;
  width: 100%;
  height: 100%;
}

.process__item {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 45rem;
  cursor: pointer;
}

.process-nav-slide {
  height: auto !important;
}

.process__item img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.process__item h5 {
  flex: 1;
  color: #797979;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.swiper-slide-thumb-active .process__item img,
.process__item:hover img {
  opacity: 1;
}

.swiper-slide-thumb-active .process__item h5,
.process__item:hover h5 {
  color: #000;
}

.process__slider {
  width: 55rem;
  padding-bottom: 8rem;
}

.process__slide-image {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
}

.process__slide-image img {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.slick-vertical .slick-slide {
  margin-bottom: 4rem;
}

.slick-list {
  height: 100% !important;
}

.process__items.slick-slider .slick-track,
.process__items.slick-slider .slick-list {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
}

.process__slide .process__item {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  max-width: 28.2rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.process__slide .process__item img {
  width: 3.2rem;
}

.process__slide .process__item h5 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

.process .swiper-button-next,
.process .swiper-button-prev {
  display: none !important;
}

/* Process Area */

/* Complete Area */
.complete-area {
  padding-bottom: 8rem;
}

.complete__items {
  max-width: 114.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 5rem;
}

.complete__item {
  background: #fff9f7;
  padding: 2.5rem;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.complete__item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.complete__item-icon {
  width: 7.5rem;
  height: 6rem;
  margin-top: 0.8rem;
  background: #d4aea7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.complete__item-icon-main {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.complete-header-content {
  flex: 1;
}

.complete-header-content p {
  color: #808080;
}

.complete__item-main h5 {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

/* Complete Area */

/* Products Area */

.products__header {
  background: #000;
}

.products__header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 6rem 0;
}

.products__header-content h4 {
  color: #808080;
  max-width: 57rem;
}

.products__header-content h4 span {
  color: #fff;
}

.trustpilot-rating {
  width: 11.3rem;
  height: auto;
}

.products__main {
  padding: 8rem 10rem;
  padding-right: 0;
  background: #212121;
}

.products__main-content {
  position: relative;
}

.products__items {
  padding-right: 4rem;
  padding-bottom: 12rem;
}

.products__items.slick-initialized .slick-slide {
  margin-right: 3rem;
}

.products__items.slick-initialized .slick-slide:last-of-type {
  margin-right: 0;
}

.products__item {
  background: #fff;
  position: relative;
  padding: 1.5rem;
  padding-top: 9rem;
  padding-bottom: 2.5rem;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
}

.products__label {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: auto;
  background: #dbddd6;
  padding: 1rem 1.5rem;
}

.products__label p {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1;
}

.products__image {
  width: 100%;
  height: 23rem;
  margin-left: auto;
  margin-right: auto;
}

.products__image img {
  object-fit: contain;
}

.products__item-name {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  line-height: 1.2;
  max-width: 70%;
  min-height: 4.8rem;
  margin-left: auto;
  margin-right: auto;
}

.products__item-price {
  text-align: center;
  font-weight: 700;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.products__item-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
}

.products__item-qty-btn {
  border: 0.1rem solid #000;
  width: 8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__item-qty-btn--minus {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.products__item-qty-btn--plus {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.products__item-qty-btn img {
  width: 1.5rem;
  height: auto;
  object-fit: contain;
}

.products__item-qty input {
  border: 0.1rem solid #000;
  border-left: 0;
  border-right: 0;
  width: 9rem;
  height: 100%;
  padding: 1.5rem;
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 700;
  color: #000;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.products__item .custom-btn--product-cart-btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.products-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #666666;
  font-size: 1.6rem;
  font-weight: 500;
}

.products-stock img {
  width: auto;
  height: 1.6rem;
  object-fit: contain;
}

.products .slick-dots {
  margin-top: 10rem;
}

.products .slick-arrow {
  position: absolute;
  bottom: -2rem;
  right: 10rem;
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: -1rem;
  left: auto;
  right: 10rem;
  width: 4.8rem;
  height: 4.8rem;
  background: #000;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.2rem solid #6d6d6d;
  z-index: 99;
}

.swiper-button-prev {
  right: 16rem;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-prev span,
.swiper-button-next span {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
}

.swiper-button-prev {
  padding-right: 0.3rem;
}

.swiper-button-next {
  padding-left: 0.3rem;
}

.products .slick-prev.slick-arrow {
  right: 16rem;
}

.products .slick-prev.slick-arrow span {
  background-image: url("../img/product-left-arrow.png");
}

.products .slick-next.slick-arrow span {
  background-image: url("../img/product-right-arrow.png");
}

.products__main-content .custom-btn--product {
  position: absolute;
  bottom: -2rem;
  left: 0;
  z-index: 99;
}

.products__items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

/* Products Area */

/* Geschikt Area */
.geschikt-area {
  padding-top: 11rem;
}

.geschikt__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 114.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.geschikt__item {
  position: relative;
  background: #f9f4eb;
  padding: 2.5rem;
  padding-bottom: 0;
  border-radius: 2.2rem;
  -webkit-border-radius: 2.2rem;
  -moz-border-radius: 2.2rem;
  -ms-border-radius: 2.2rem;
  -o-border-radius: 2.2rem;
  overflow: hidden;
  text-align: center;
}

.geschikt__item h3 {
  margin-bottom: 2rem;
  min-height: 10rem;
}

.geschikt__item h6 {
  margin-bottom: 3rem;
  color: #808080;
  min-height: 9rem;
}

.geschikt__item .custom-btn {
  margin-left: auto;
  margin-right: auto;
}

.geschikt__item--account .custom-btn {
  margin-left: 0;
  margin-right: 0;
}

.geschikt__item .geschikt__image {
  height: 15.5rem;
  object-fit: contain;
  margin-top: 4rem;
}

.geschikt__item--account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  grid-column: 1/3;
  text-align: left;
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(
      ellipse at 0 90%,
      rgba(32, 0, 255, 0.5) 0,
      transparent 80%
    ),
    radial-gradient(circle at 90% 80%, rgba(255, 9, 14, 0.4) 0, transparent 40%);
}

.geschikt__item--account h5 {
  color: #808080;
  max-width: 50rem;
}

.geschikt__item--een {
  background: #eeeeee;
  padding: 2.5rem;
  padding-top: 0;
}

.geschikt__item--een img {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 100%;
  height: auto !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-top: 0 !important;
  object-fit: cover !important;
}

.geschikt__item--een h3 {
  min-height: auto;
  margin-top: 20rem;
}

.geschikt__item--een h6 {
  min-height: auto;
}

.geschikt__item--een a {
  min-height: auto;
  display: flex;
  justify-content: center;
}

.geschikt__logos {
  position: absolute;
  bottom: -3.5rem;
  left: -6.5rem;
}

.geschikt__logos-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.geschikt__logos-left {
  margin-bottom: 2rem;
}

.geschikt__logos-item {
  min-width: 8.4rem;
  width: 8.4rem;
  height: 8.4rem;
}

.geschikt__logos-item img {
  object-fit: cover;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.geschikt__logos-right {
  padding-left: 2.5rem;
}

.process-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.05;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.process-arrow:hover {
  opacity: 1;
}

.process-arrow span {
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url("../img/left-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.process-arrow--prev {
  left: -1rem;
}

.process-arrow--next {
  left: auto;
  right: -1rem;
}

.process-arrow--prev span {
  background-image: url("../img/left-arrow.png");
}

.process-arrow--next span {
  background-image: url("../img/right-arrow.png");
}

/* Geschikt Area */

/* Footer Area */

.footer-area {
  padding-top: 11rem;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-left: auto;
  margin-right: 5rem;
}

.footer__socials li a {
  width: 5rem;
  height: 5rem;
}

.footer__socials li a img {
  object-fit: contain;
}

.footer__content {
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid #ddd;
  margin-top: 2.5rem;
}

.footer__content > div {
  flex: 1;
}

.footer__content > div:nth-child(1),
.footer__content > div:nth-child(2) {
  flex: 0.7;
}

.footer__list h5 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.footer__list-items li {
  margin-bottom: 2rem;
}

.footer__list-items li:last-child {
  margin-bottom: 0;
}

.footer__list-items li a,
.footer__list-items li p {
  color: #808080;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer__list-items li a:hover {
  color: #000;
}

.footer__list-group .footer__list {
  margin-bottom: 2rem;
}

.footer__list-group .footer__list:last-of-type {
  margin-bottom: 0;
}

.footer-input-form {
  position: relative;
}

.input-style {
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1.5rem;
  padding-right: 5.5rem;
  border: 0.1rem solid #505050;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.footer-input__submit-btn {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 3.6rem;
  height: calc(100% - 1rem);
  border-left: 0.2rem solid #505050;
  padding-left: 1.2rem;
}

.footer-input__submit-btn img {
  width: 2.2rem;
  height: auto;
  object-fit: contain;
}

.footer__list-items--days li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-day {
  width: 9.6rem;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer__bottom-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__bottom-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__bottom-left > p,
.footer__bottom-links li a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #808080;
  font-weight: 500;
}

.footer__bottom-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__bottom-logo {
  width: 5.5rem;
  max-width: 15rem;
  height: auto;
}

.footer__bottom-logo img {
  object-fit: contain;
}

/* Footer Area */

/* Accordion */
.basic-accordion {
  width: 100%;
}

.main-header .basic-accordion {
  margin-top: -2.5rem;
  display: none;
}

.basic-accordion__item {
  padding: 2rem 0;
  background: transparent;
  border-bottom: 0.1rem solid hsla(0, 0%, 48%, 0.6);
}

.basic-accordion__item .accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu__slider {
  padding-bottom: 5rem;
}

.accordion__question h3 {
  font-weight: 700;
}

.accordion__arrow {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.accordion__question.active-default .accordion__arrow,
.accordion__question.active-faq .accordion__arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.basic-accordion__item .accordion__answer {
  margin-top: 2rem;
  padding-left: 2rem;
}

.default-accordion .accordion__answer {
  display: none;
}

.faq-accordion .accordion__answer {
  display: none;
}

.footer-area .basic-accordion {
  display: none;
}

.footer__list-newsletter-mobile {
  display: none;
}

/* Accordion */

/* Swiper Slider */
.swiper-pagination-bullet {
  margin: 0 !important;
  opacity: 1;
  background: #eeeeee;
  width: 4rem !important;
  height: 0.6rem !important;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.swiper-pagination-bullet-active {
  background: #808080;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.submenu__slider .swiper-pagination {
  gap: 0.8rem;
}

.submenu__slider .swiper-pagination-bullet {
  width: 3rem !important;
  height: 0.5rem !important;
}

/* Swiper Slider */

/* Treatment Hero Area */
.other-hero-area {
  background-position: bottom;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/treatment-hero.jpg);
  align-items: center;
  padding-bottom: 0 !important;
}

.other-hero-area h1 {
  text-transform: none;
}

.other-hero-area .hero__content {
  max-width: 75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.scroll-btn {
  position: absolute;
  width: 2.4rem;
  height: 3.6rem;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 1px solid #fff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.scroll-btn:hover {
  background: #fff;
}

.scroll-btn::after {
  content: " ";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  background: #fff;
  left: 50%;
  top: 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation: animate-scroll 1s linear infinite;
  -webkit-animation: animate-scroll 1s linear infinite;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.scroll-btn:hover::after {
  background: #d4aea7;
}

@keyframes animate-scroll {
  0% {
    opacity: 0;
    transform: translate(-50%, -0.9rem);
    -webkit-transform: translate(-50%, -0.9rem);
    -moz-transform: translate(-50%, -0.9rem);
    -ms-transform: translate(-50%, -0.9rem);
    -o-transform: translate(-50%, -0.9rem);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0.9rem);
    -webkit-transform: translate(-50%, 0.9rem);
    -moz-transform: translate(-50%, 0.9rem);
    -ms-transform: translate(-50%, 0.9rem);
    -o-transform: translate(-50%, 0.9rem);
  }
}

/* Treatment Hero Area */

/* Treatment Area */

.treatment {
  padding-top: 8rem;
}

.treatment-nav-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
}

.treatment-nav-wrapper::-webkit-scrollbar {
  height: 0.8rem;
}

.treatment-nav-wrapper::-webkit-scrollbar-thumb {
  background: #b7b4b4;
  border-radius: 0.4rem;
  height: 0.8rem;
}

.treatment-nav {
  min-width: 104.4rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #efeff0;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.treatment-nav li {
  line-height: normal;
}

.treatment-nav li a {
  width: fit-content;
  min-width: max-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.35rem 2rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.treatment-nav li a.selected,
.treatment-nav li a:hover {
  background: #fff;
}

.treatment__items {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 112rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.treatment__image {
  display: block;
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.treatment__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/0.9;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.treatment__item {
  background: #fff9f7;
  padding: 2.5rem;
  border: 0.1rem solid #efeff0;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
}

.treatment__content {
  text-align: center;
  padding-top: 1.5rem;
}

.treatment__info a {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.treatment__content p {
  font-weight: 600;
  color: #808080;
}

.treatment__item .custom-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.treatment__info {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.treatment__item:hover .treatment__image img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.treatment__item:hover .treatment__info a {
  text-decoration: underline;
}

/* Treatment Area */

/* Breadcrumb Area */
.breadcrumb__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.breadcrumb__items li a {
  font-weight: 600;
}

.breadcrumb__items li span {
  margin-right: 1rem;
  font-weight: 600;
}

.breadcrumb__items li a:hover {
  text-decoration: underline;
}

.breadcrumb__items li:nth-child(1) a {
  color: #808080;
  font-weight: 500;
}

/* Breadcrumb Area */

/* Huidaandoening Hero Area */
.huidaandoening-hero-area {
  background-position: top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/huidaandoening-hero.jpg);
}
/* Huidaandoening Hero Area */

/* Laserontharen Hero Area */
.laserontharen-hero-area h1 {
  text-transform: none;
}
/* Laserontharen Hero Area */

/* Laser Process Area */
.laser-process-area .process__slide-image {
  aspect-ratio: 2/1.4;
}

.laser-process-area .process__slider {
  width: 50rem;
}

.laser-process-area .process {
  padding-right: 20rem;
  height: 74rem;
}

/* Laser Process Area */

/* Populaire Area */

.populaire-area {
  padding-bottom: 8rem;
}

.populaire__items {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.populaire__item img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.populaire__item .custom-btn--standard {
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

/* Populaire Area */

/* Video Area */
.video-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.video-container video {
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.products-video .products__main {
  padding-left: 0;
}
/* Video Area */

/* FAQ Area */
.faq-area {
  padding-top: 8rem;
}

.faq .basic-accordion {
  margin-top: 5rem;
  border-top: 0.1rem solid hsla(0, 0%, 48%, 0.6);
}

.faq .basic-accordion__item .accordion__answer {
  padding-left: 0;
  margin-top: 1.5rem;
}

.faq .basic-accordion__item {
  padding: 2rem 5rem;
}

.faq .custom-btn {
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
}

.faq .accordion__question h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #000;
}

/* FAQ Area */

/* BehandelPrijzen Hero Area */
.prijzen-hero-area {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/prijzen-hero.jpg);
}
/* BehandelPrijzen Hero Area */

/* Prijzen Area */

.prijzen-table-list {
  margin-top: 5rem;
}

.prijzen-table-area {
  margin-top: 10rem;
}

.prijzen-table-area:first-of-type {
  margin-top: 0;
}

.table-container {
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 3rem;
}

.table-container::-webkit-scrollbar {
  height: 0.8rem;
}

.table-container::-webkit-scrollbar-thumb {
  background: #b7b4b4;
  border-radius: 0.4rem;
  height: 0.8rem;
}

table {
  width: 100%;
  min-width: 1150px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px 30px;
}

th {
  border: 0;
  font-family: "Gill-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

td,
.table-name {
  border-left: 0;
  border-right: 0;
  font-family: "Gill-Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #000;
}

.table-name {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

td button {
  min-width: 20px;
  width: 20px;
  height: auto;
  margin-top: 6px;
}

td button img {
  object-fit: contain;
}

.cta-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 250px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 200px;
}

td:nth-child(2),
td:nth-child(3) {
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

th:nth-child(4),
td:nth-child(4) {
  width: 300px;
}

/* Prijzen Area */

/* Products Page */

/* Products Hero Area */
.products-hero-area {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/products-hero.jpg);
}
/* Products Hero Area */

.product-category-nav-area,
.product-category-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product-category-nav-area {
  justify-content: center;
}

.product-category-nav li button,
.filter-btn {
  background: #efeff0;
  width: fit-content;
  min-width: max-content;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.35rem 3rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.product-category-nav li button:hover {
  background: #d9d9d9;
}

.filter-btn {
  gap: 1rem;
  background: #d4aea7;
  color: #fff;
}

.filter-btn span {
  width: 30px;
  height: auto;
}

/* All Products Area */
.all-products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}

.all-products__items .products__item {
  border: 1px solid #a9aca9;
}

.all-products__items .products__item-name {
  font-size: 1.8rem;
  max-width: 85%;
}

.all-products__items .custom-btn--product-cart-btn {
  padding: 1.9rem 0.5rem;
}

/* All Products Area */

.total__products {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.total__products-line {
  flex: 1;
  border-bottom: 1px solid #a9aca9;
}

.total__products p {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}

.all-products-area .custom-btn--more-product {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

/* Products Page */
