/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-group {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 1;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 72px;
  line-height: 84px;
}

h2 {
  font-size: 72px;
  line-height: 84px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-size: 36px;
  line-height: 46px;
}

h5 {
  font-size: 32px;
  line-height: 42px;
}

h6 {
  font-size: 22px;
  line-height: 30px;
}

.heading-2 {
  font-size: 72px;
  line-height: 84px;
}

.heading-3 {
  font-size: 40px;
  line-height: 50px;
}

.heading-4 {
  font-size: 36px;
  line-height: 46px;
}

.heading-5 {
  font-size: 32px;
  line-height: 42px;
}

.heading-6 {
  font-size: 22px;
  line-height: 30px;
}

.heading--24 {
  font-size: 24px;
  line-height: 34px;
}

.desc--16 {
  font-size: 16px;
  line-height: 24px;
}

.desc--20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.desc--32 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.custom-btns {
  display: flex;
  align-items: center;
  gap: 25px;
}

.custom-btns--vertical {
  flex-direction: column;
}

.custom-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  min-width: 142px;
  height: 48px;
  padding: 15px 25px;
  color: #fff;
  background: #000;
  font-size: 18px;
  line-height: 28px;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.custom-btn:hover {
  opacity: 0.8;
}

.custom-btn svg {
  width: fit-content;
  height: 16px;
}

.custom-btn--white {
  background: #fff;
  color: #000;
}

.custom-btn--product {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
}

.custom-btn--white svg path {
  fill: #000;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #015fff;
  font-weight: 600;
  width: fit-content;
}

.link-btn svg {
  width: fit-content;
  height: 16px;
}

.link-btn svg path {
  fill: #015fff;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
}

/* Default CSS Code */

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
  background: #fff;
}

/* Reuse CSS Code */

.section-heading {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-heading p {
  color: #808080;
  margin-top: 20px;
}

/* Reuse CSS Code */

/* Header Area */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.1);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background: #000;
}

.top-header__login,
.top-header__links li a,
.top-header__contact a {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.top-header__login {
  text-decoration: underline;
}

.top-header__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.top-header__contact {
  display: flex;
  align-items: center;
  gap: 30px;
}

.top-header__contact a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-header__contact a span {
  width: fit-content;
  height: 22px;
  display: block;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.top-header__contact a span img {
  object-fit: contain;
}

.main-header-area {
  padding: 10px 0;
  background: #fbfaf8;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__left,
.main-header__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-header__links li a {
  color: #000;
}

.main-header__right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-header__right button img {
  width: fit-content;
  height: 35px;
}

.nav-logo {
  width: fit-content;
  height: 60px;
}

.nav-logo img {
  object-fit: contain;
}

/* Header Area */

/* Main Content */
main {
  margin-top: 124px;
}
/* Main Content */

/* Hero Area */
.hero-area {
  position: relative;
  width: 100%;
  height: calc(100vh - 124px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../img/hero.jpg");
  display: flex;
  align-items: center;
}

.hero-logo {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hero-logo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content h1,
.hero__content p {
  color: #fff;
  text-transform: uppercase;
}

.hero__content p {
  margin-top: 20px;
}

.hero__content .custom-btns {
  margin-top: 30px;
}

/* Hero Area */

/* Process Area */

.process-area {
  padding: 80px 0;
}

.process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 120px;
}

.process__items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.process__item {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 450px;
  cursor: pointer;
}

.process__item img {
  width: 80px;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.process__item h5 {
  color: #808080;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.slick-current .process__item img,
.process__item:hover img {
  opacity: 1;
}

.slick-current .process__item h5,
.process__item:hover h5 {
  color: #000;
}

.process__slider {
  width: 550px;
}

.process__slide {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
}

.slick-vertical .slick-slide {
  margin-bottom: 40px;
}

.slick-list {
  height: 100% !important;
}

.process__items.slick-slider .slick-track,
.process__items.slick-slider .slick-list {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 70px;
}

.slick-dots li {
  line-height: 0;
}

.slick-dots li button {
  width: 40px;
  height: 6px;
  background: #eeeeee;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.slick-dots .slick-active button {
  background: #808080;
}

/* Process Area */

/* Complete Area */
.complete-area {
  padding-bottom: 80px;
}

.complete__items {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
}

.complete__item {
  background: #fbfaf8;
  padding: 25px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.complete__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete__item-header h6 {
  padding-right: 25px;
}

.complete__item-icon {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.complete-header-content p {
  color: #808080;
}

.complete__item-main h5 {
  font-weight: 700;
  margin-bottom: 25px;
}

/* Complete Area */

/* Products Area */

.products__header {
  background: #000;
}

.products__header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 60px 0;
}

.products__header-content h4 {
  color: #808080;
  max-width: 570px;
}

.products__header-content h4 span {
  color: #fff;
}

.trustpilot-rating {
  width: fit-content;
  height: 73px;
}

.products__main {
  padding: 80px 100px;
  padding-right: 0;
  background: #212121;
}

.products__main-content {
  position: relative;
}

.products__items.slick-initialized .slick-slide {
  margin-right: 30px;
}

.products__items.slick-initialized .slick-slide:last-of-type {
  margin-right: 0;
}

.products__item {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}

.products__label {
  position: absolute;
  top: 15px;
  left: 15px;
  width: fit-content;
  background: #000;
  padding: 10px 15px;
}

.products__label p {
  color: #fff;
  font-weight: 500;
  line-height: 1;
}

.products__image {
  width: 100%;
  height: 300px;
}

.products__image img {
  object-fit: contain;
}

.products__item > h6 {
  text-align: center;
}

.products__qty {
  display: flex;
  align-items: center;
  height: 60px;
}

.products__price-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.products__price {
  text-align: left;
}

.products__price h5 {
  font-size: 28px;
  line-height: 1;
}

.products__price p {
  font-size: 14px;
  line-height: 22px;
}

.products__cart-btn {
  background: #000;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.products__cart-btn img {
  width: fit-content;
  height: 35px;
}

.products__qty input {
  width: 70px;
  height: 100%;
  padding: 15px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.products__qty-btns {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  border-left: 0;
}

.products__qty-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
}

.products__qty-btn--plus {
  border-bottom: 1px solid #ddd;
}

.products__qty-btn img {
  width: 14px;
  height: auto;
  object-fit: contain;
}

.products-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #808080;
  font-weight: 500;
  margin: 30px 0;
}

.products-stock img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.products-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #e3d5ca;
  padding: 10px 0;
}

.products-status img {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.products-status p {
  max-width: 270px;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
}

.products .slick-dots {
  margin-top: 50px;
}

.products .slick-arrow {
  position: absolute;
  bottom: -20px;
  right: 100px;
  width: 48px;
  height: 48px;
  background: #000;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #808080;
}

.products .slick-arrow span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 18px;
  height: 18px;
  display: block;
}

.products .slick-prev.slick-arrow {
  right: 160px;
}

.products .slick-prev.slick-arrow span {
  background-image: url("../img/product-left-arrow.png");
}

.products .slick-next.slick-arrow span {
  background-image: url("../img/product-right-arrow.png");
}

.products__main-content .custom-btn {
  position: absolute;
  bottom: -20px;
  left: 0;
}

/* Products Area */

/* Geschikt Area */
.geschikt-area {
  padding: 80px 0;
  padding-top: 110px;
}

.geschikt__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.geschikt__item {
  position: relative;
  background: #e4d5ca;
  padding: 25px;
  padding-bottom: 0;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  overflow: hidden;
  text-align: center;
}

.geschikt__item h3 {
  margin-bottom: 20px;
  min-height: 100px;
}

.geschikt__item h6 {
  margin-bottom: 20px;
  color: #808080;
  min-height: 120px;
}

.geschikt__item a {
  font-weight: 700;
  min-height: 56px;
}

.geschikt__item img {
  height: 155px;
  object-fit: contain;
  margin-top: 40px;
}

.geschikt__item--account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  grid-column: 1/3;
  text-align: left;
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(
      ellipse at 0 90%,
      rgba(32, 0, 255, 0.5) 0,
      transparent 80%
    ),
    radial-gradient(circle at 90% 80%, rgba(255, 9, 14, 0.4) 0, transparent 40%);
}

.geschikt__item--account h5 {
  color: #808080;
  max-width: 500px;
}

.geschikt__item--een {
  background: #eeeeee;
  padding: 25px;
  padding-top: 0;
}

.geschikt__item--een img {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-top: 0;
}

.geschikt__item--een h3 {
  min-height: auto;
  margin-top: 200px;
}

.geschikt__item--een h6 {
  min-height: auto;
}

.geschikt__item--een a {
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Geschikt Area */

/* Footer Area */
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 50px;
}

.footer__socials li a {
  width: fit-content;
  height: 50px;
}

.footer__socials li a img {
  object-fit: contain;
}

.footer__content {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
}

.footer__content > div {
  flex: 1;
}

.footer__content > div:nth-child(1),
.footer__content > div:nth-child(3) {
  flex: 0.7;
}

.footer__list h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 22px;
}

.footer__list-items li {
  margin-bottom: 20px;
}

.footer__list-items li:last-child {
  margin-bottom: 0;
}

.footer__list-items li a,
.footer__list-items li p {
  color: #808080;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer__list-items li a:hover {
  color: #000;
}

.footer__list-group .footer__list {
  margin-bottom: 20px;
}

.footer__list-group .footer__list:last-of-type {
  margin-bottom: 0;
}

.footer-input-form {
  position: relative;
}

.input-style {
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-right: 55px;
  border: 1px solid #505050;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.footer-input__submit-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: calc(100% - 10px);
  border-left: 2px solid #505050;
  padding-left: 12px;
}

.footer-input__submit-btn img {
  width: fit-content;
  height: 22px;
  object-fit: contain;
}

.footer__list-items--days li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-day {
  width: 96px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__bottom-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__bottom-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__bottom-left > p,
.footer__bottom-links li a {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  font-weight: 500;
}

.footer__bottom-logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__bottom-logo {
  width: fit-content;
  max-width: 150px;
  height: 55px;
}

.footer__bottom-logo img {
  object-fit: contain;
}

/* Footer Area */
