@media (max-width: 1450.98px) {
  html {
    font-size: 58%;
  }

  .container {
    max-width: 100%;
    padding: 0 7rem;
  }

  .main-header__left {
    gap: 5rem;
  }

  .process {
    padding-right: 0;
    max-width: 106rem;
    margin-left: auto;
    margin-right: auto;
  }

  .laser-process-area .process {
    padding-right: 0;
  }

  .footer__socials {
    margin-right: 0;
  }
}

@media (max-width: 1199.98px) {
  .navbar-toggler {
    display: block;
  }

  .footer-area .basic-accordion {
    display: block;
  }

  .main-header__links {
    display: none;
  }

  .main-header-area {
    padding: 0.6rem 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .mobile-nav .main-header-area {
    height: calc(100vh - 4rem);
    overflow: auto;
    padding-bottom: 5rem;
  }

  .header--is-sticky.mobile-nav .main-header-area {
    height: 100vh !important;
    background: #fff;
  }

  .header--is-sticky {
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -o-transform: translateY(-4rem);
  }

  .main-header__left {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .process__item {
    width: 37rem;
  }

  .process__item img {
    width: 4rem;
    height: auto;
  }

  .process__item h5 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  .process__slider {
    width: 45rem;
  }

  .complete__items {
    max-width: 38rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .products__main {
    padding: 10rem 7rem;
    padding-top: 7rem;
    padding-right: 0;
  }

  .geschikt__items {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .geschikt__item {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }

  .geschikt__item--account {
    width: 100%;
    max-width: 100%;
    grid-column: auto;
    order: 5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-align: center;
    padding: 3.2rem;
  }

  .geschikt__item--account h2 {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }

  .geschikt__item--account h5 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
  }

  .geschikt__item--account .custom-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

  .geschikt-area .container {
    padding: 0;
  }

  .geschikt__item--logos {
    min-height: 51.8rem;
  }

  .geschikt__item h3 {
    min-height: auto;
  }

  .geschikt__item h6 {
    min-height: auto;
  }

  .footer__content {
    display: none;
  }

  .footer-area .accordion__question h3 {
    font-weight: 700;
  }

  .footer-area .basic-accordion {
    margin-top: 1.5rem;
  }

  .footer-input-form {
    max-width: 30rem;
  }

  .nav-logo {
    margin-left: 4.5rem;
  }

  .main-header__right {
    position: absolute;
    top: 0.9rem;
    right: 0;
  }

  .footer__list-newsletter-mobile {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    display: block;
  }

  .footer__list-newsletter-mobile .footer-input-form {
    max-width: 100%;
  }

  .footer__list-newsletter-mobile h5 {
    text-align: center;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .footer__socials {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

  .complete__item {
    height: auto;
  }

  .complete__item-main {
    padding-top: 3rem;
  }

  .mobile-nav .basic-accordion {
    display: block;
  }

  .process {
    height: 87rem;
  }

  .treatment__items {
    max-width: 80rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .laser-process-area .process {
    height: 60rem;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 6.2rem;
    line-height: 7.4rem;
  }

  h2 {
    font-size: 5.6rem;
    line-height: 6.6rem;
  }

  .heading--48 {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  .desc--32 {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }

  .container {
    padding: 0 4.5rem;
  }

  .top-header {
    padding: 1rem 3rem;
  }

  .top-header__links {
    gap: 2rem;
  }

  .slick-dots {
    margin-top: 3rem;
  }

  .process-area {
    padding-top: 3rem;
  }

  .process__items {
    display: none;
  }

  .process__slider {
    width: 100%;
  }

  .process__slide .process__item {
    display: flex;
  }

  .process__slide-image {
    width: 32.7rem;
    aspect-ratio: 2/1.9;
    margin-left: auto;
    margin-right: auto;
  }

  .process__slide-image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .products__header-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .products__items {
    padding-bottom: 7rem;
  }

  .footer__content {
    display: none;
  }

  .footer__bottom-left,
  .footer__bottom,
  .footer__bottom-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__bottom-left {
    order: 2;
    gap: 1rem;
  }

  .footer__bottom {
    gap: 2rem;
  }

  .geschikt__item--account {
    order: 5;
  }

  .products__main {
    padding: 10rem 4.5rem;
    padding-top: 7rem;
    padding-right: 0;
  }

  .geschikt-area .section-heading {
    padding: 0 4.5rem;
  }

  .geschikt__item--logos {
    min-height: 51.5rem;
  }

  .products .slick-arrow {
    opacity: 0.05;
    bottom: auto;
    top: 40%;
    right: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  .products .slick-prev.slick-arrow {
    right: auto;
    left: -2.3rem;
  }

  .products .slick-arrow:hover {
    opacity: 1;
  }

  .products__main-content .custom-btn--product {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  .products__main {
    padding: 7rem 4.5rem;
    padding-right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: auto;
    top: 40%;
    right: 2.3rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 9999;
    opacity: 0.05;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.05;
  }

  .swiper-button-prev {
    left: -2.3rem;
  }

  .process {
    height: auto;
  }

  .process .swiper-button-prev {
    left: 0;
  }

  .process .swiper-button-next {
    right: 0;
  }

  .process__slider {
    padding-bottom: 5rem;
  }

  .process .swiper-button-next,
  .process .swiper-button-prev {
    display: flex !important;
  }

  .laser-process-area .process__slider {
    width: 100%;
  }

  .swiper-slide-active .process__item h5 {
    color: #000;
  }

  .swiper-slide-active .process__item img {
    opacity: 1;
  }

  .laser-process-area .process {
    height: 50rem;
  }

  .populaire__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .play-button {
    width: 100px;
    height: 100px;
  }

  .faq .basic-accordion__item {
    padding: 2rem 0;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }

  h2 {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }

  .desc--32 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .heading--48 {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  h6 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .complete__item-icon {
    margin-top: 0.3rem;
  }

  .top-header {
    padding: 1rem 1.8rem;
  }

  .top-header__contact,
  .top-header__links li a {
    font-size: 1.4rem;
  }

  .hero .custom-btn {
    min-width: 14rem;
  }

  .hero .custom-btns {
    gap: 1.5rem;
  }

  .hero__content p {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .container {
    padding: 0 2rem;
  }

  .custom-btn--standard {
    min-width: 100%;
  }

  .products__header-content {
    padding: 4rem 0;
  }

  .products__main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .products__items.slick-initialized .slick-slide {
    margin: 0 2rem;
  }

  .products .slick-dots {
    padding: 0 2rem;
    margin-top: 4rem;
  }

  .products__items {
    padding-bottom: 6rem;
    padding-right: 0;
  }

  .products__main-content .custom-btn--product {
    margin-top: 3rem;
  }

  .products .slick-arrow {
    right: 2rem;
  }

  .products__main-content .custom-btn--product {
    left: 2rem;
  }

  .geschikt-area {
    padding-top: 8rem;
  }

  .geschikt-area .section-heading {
    padding: 0 2rem;
  }

  .geschikt__item h6 {
    font-size: 2rem;
  }

  .geschikt__item--logos {
    min-height: 48rem;
  }

  .geschikt__item .geschikt__image {
    height: auto;
  }

  .geschikt__item--account h2 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }

  .footer-area {
    padding-top: 8rem;
  }

  .footer__socials {
    gap: 1.5rem;
  }

  .footer__socials li a {
    height: 4rem;
  }

  .main-header__links > li > a,
  .accordion__question h3,
  .basic-accordion__item > a {
    font-size: 1.8rem;
  }

  .footer__bottom-logo {
    width: 4.5rem;
  }

  .footer__bottom {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .top-header__contact span {
    height: 1.8rem;
  }

  .hero-area {
    padding-bottom: 9rem;
  }

  .search-wrapper {
    padding: 0.6rem 2rem;
  }

  .top-header__links li {
    display: none;
  }

  .top-header__links-faq {
    display: block !important;
  }

  .top-header__contact span {
    display: none;
  }

  .products .slick-arrow {
    right: 1rem;
  }

  .products .slick-prev.slick-arrow {
    left: 1rem;
  }

  .footer-area .basic-accordion {
    margin-top: 1.5rem;
  }

  .custom-btn {
    font-size: 1.8rem;
    padding-top: 1.7rem;
    padding-bottom: 1.3rem;
  }

  .custom-btn--standard {
    padding-top: 2.1rem;
    padding-bottom: 1.7rem;
  }
}

@media (max-width: 575.98px) {
  .process__slide-image {
    width: 100%;
    aspect-ratio: 1/1.2;
  }

  .geschikt__item {
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .geschikt__item--account {
    margin-left: 0;
    margin-right: 0;
  }

  .search-box {
    max-width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    right: -0.6rem;
  }

  .swiper-button-prev {
    left: -0.6rem;
  }

  .treatment__items {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .treatment__items {
    margin-top: 3rem;
  }

  .treatment__info {
    max-width: 100%;
  }

  .treatment__image {
    padding: 0;
  }

  .laserontharen-hero-area .hero .custom-btns {
    flex-direction: column;
  }

  .laserontharen-hero-area .hero .custom-btn {
    width: 100%;
  }

  .populaire__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .populaire__item .custom-btn--standard {
    min-width: auto;
    max-width: 20rem;
  }

  .play-button {
    width: 50px;
    height: 50px;
  }

  .products-video .products__main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 0;
  }

  .faq .accordion__question h3 {
    font-size: 1.9rem;
  }

  .faq .custom-btn {
    min-width: auto;
    max-width: 20rem;
  }
}
