@font-face {
  font-family: "Gill-Sans";
  src: url("Gill-Sans-Light.ttf") format("truetype"),
    url("Gill-Sans-Light.woff") format("woff"),
    url("Gill-Sans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gill-Sans";
  src: url("Gill-Sans.ttf") format("truetype"),
    url("Gill-Sans.woff") format("woff"), url("Gill-Sans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gill-Sans";
  src: url("Gill-Sans-Medium.ttf") format("truetype"),
    url("Gill-Sans-Medium.woff") format("woff"),
    url("Gill-Sans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gill-Sans";
  src: url("Gill-Sans-Bold.ttf") format("truetype"),
    url("Gill-Sans-Bold.woff") format("woff"),
    url("Gill-Sans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
